<!DOCTYPE html>
<html>
<head>
  <title>Scanner</title>
   <meta name="viewport" content="initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <style>
	.thumbnail {
	    float: left;
	    width: 110px;
	    height: 90px;
	    margin: 5px;
	}
  </style>		
</head>
<body>

<%= yield %>

</body>
</html>
